# Welcome !

This is my Home Assistant installation.

## Some statistics about my installation:

Description | value
-- | --
Number of entities | {{states | count}}
Count of alarm | {{ states.alarm_control_panel | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of alert | {{ states.alert | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of automation | {{ states.automation | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of binary_sensor | {{ states.binary_sensor | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of calendar | {{ states.calendar | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of camera | {{ states.camera | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of climate | {{ states.climate | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of cover | {{ states.cover | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of device_tracker | {{ states.device_tracker | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of fan | {{ states.fan | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of input_boolean | {{ states.input_boolean | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of input_datetime | {{ states.input_datetime | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of input_number | {{ states.input_number | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of input_select | {{ states.input_select | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of input_text | {{ states.input_text | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of lights | {{ states.light | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of media_player | {{ states.media_player | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of number | {{ states.number | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of person | {{ states.person | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of scene | {{ states.scene | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of script | {{ states.script | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of sensor | {{ states.sensor | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of sun | {{ states.sun | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of switch | {{ states.switch | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of timer | {{ states.timer | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of update | {{ states.update | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of vacuum | {{ states.vacuum | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of weather | {{ states.weather | rejectattr('state', 'eq', 'unavailable') | list | count }}
Count of zone | {{ states.zone | rejectattr('state', 'eq', 'unavailable') | list | count }}

## My installed extensions:

### Add-ons
{%- for addon in addons | sort(attribute='name') %}
- {{addon.name}}
{%- endfor %}

### Custom integrations
{%- for component in hacs_components | selectattr('category', 'equalto', 'integration') | sort(attribute='name') %}
- [{{component.name}}]({{component.documentation}})
{%- endfor %}

### Lovelace plugins
{%- for component in hacs_components | selectattr('category', 'equalto', 'plugin') | sort(attribute='name') %}
- [{{component.name}}]({{component.documentation}})
{%- endfor %}

### Themes
{%- for component in hacs_components | selectattr('category', 'equalto', 'theme') | sort(attribute='name') %}
- [{{component.name}}]({{component.documentation}})
{%- endfor %}


***

Generated by the [custom readme integration](https://github.com/custom-components/readme)
